In [3]:
# 1 # print 0 to 20 by using range
x = range(20)
for n in x:
    print(n)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [7]:
#2 # print range 10 to 20
x = range(10, 20)
for n in x:
    print(n)

10
11
12
13
14
15
16
17
18
19

In [19]:
#3 #Print number of items in the list by using 'len'
#[10, 20, 14, 55, 43, 87, 76]
#Number of item in the List2: 7

mylst = [10, 20, 14, 55, 43, 87, 76]
a = len(mylst)
print("Number of item in the List2: ",a)

Number of item in the List2:  7

In [44]:
#4 #Artificial Intelligence
print("Artificial","Intelligence")
s = ["A","r","t","i","f","i","c","i","a","l", "I","n","t","e","l","l","i","g","e","n","c","e"]
for n in s:
    print(n)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l
I
n
t
e
l
l
i
g
e
n
c
e

In [59]:
#-Your Name-
#-Your Age-
#-Your Profession-
a = input("Your Name")
b = int(input("Your Age"))
c = input("Your Profession")

Your Name steffi
Your Age 36
Your Profession software tester

In [63]:
# Refer this link : https://www.geeksforgeeks.org/python-tuples/
# Print yhis mixered datatype using Tuples
tupleA = (1, 'Welcome', 2, 'Hope')
print(tupleA)
print (type(tupleA))

(1, 'Welcome', 2, 'Hope')
<class 'tuple'>

In [91]:
 # Refer this link : https://www.geeksforgeeks.org/python-tuples/
Tuple1 = (0, 1, 2, 3)
#output  should be : ((0, 1, 2, 3), ('python', 'HOPE'))
tuple1 = (0, 1, 2, 3)
tuple2 = ('python', 'HOPE')
tuple3 = tuple1 + tuple2
print (tuple3)
tuple4 = ((0, 1, 2, 3), ('python', 'HOPE'))
print (tuple4)

(0, 1, 2, 3, 'python', 'HOPE')
((0, 1, 2, 3), ('python', 'HOPE'))

In [118]:
# print Odd Numbers in the list
#(20,10,16,19,25,1,276,188)
#19 is odd
#25 is odd
#1 is odd
mylist = (20,10,16,19,25,1,276,188)
for num in mylist:
 if num%2!=0:
    print(num, "is an odd number")

19 is an odd number
25 is an odd number
1 is an odd number

In [120]:
# print Even numbers in the list
mylist2 = (20,10,16,19,25,1,276,188)
for num2 in mylist2:
    if num2%2==0:
        print(num2, "is an even number")

20 is an even number
10 is an even number
16 is an even number
276 is an even number
188 is an even number